
$normalTextSize: 2rem;
$smallTextSize: 1.3rem;


$mainColor: #1DB954;
$darkStyleColor: #121212;
$secondaryDarkColor: #282828;
$thirdDarkColor: #101010;
$fourDarkColor: #161616;

$textSecondColor: #B3B3B3;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
