.leftmenu {
    background-color: black;
    height: 100vh;
    position: fixed;
    left: 0;
    // bottom: 0;
    z-index: 1;
    &__submenu {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin: 0.5em 0.5em 0.5em 0.5em;
        text-align: center;
        color: #DFD3C3;
        font-weight: bold;
        &:hover {
            color: white;
        }
        &:focus {
            background-color: bisque;
        }
    }
    &__submenu__active {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin: 0.5em 0.5em 0.5em 0.5em;
        border-radius: 5px;
        text-align: center;

        color: #DFD3C3;
        font-weight: bold;
        // margin-bottom: 1em;
        background-color: $secondaryDarkColor;
        color: white;

        &:focus {
            background-color: bisque;
        }
    }
    &__image {
        width: 40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      
        
    }
    &__icon {
        height: 1em;
    }
}

