.mainContent{
    background-color: $fourDarkColor;
    padding: 0;
    color: white;
    z-index: 0;
    position: absolute;

    right: 0;
}
.headerNonLogin{
    background-color: $thirdDarkColor !important;
    height: 4em;
    width: 100%;
    float: right;
   
}