
@keyframes slideLeft {
    from{
        transform: translateX(calc(100% + 35px));
        opacity: 0;
    }
    to{
        transform: translateX(calc(0));
        opacity: 1;

    }   
}

@keyframes fadeOut {
 
    to{
        
        opacity: 0;

    }   
}



.toast-custom {
    // animation: slideLeft ease .3s, fadeOut linear 1s 3s forwards;
    position: fixed;
    right: 70%;
    // bottom: 100%;
    background-color: white;
    color: black;
    text-align: left;
    min-height: 100px;
    min-width: 500px;
    max-width: 500px;
    z-index: 9999;
    margin: 2em;
    border-left: 5px solid ;
    box-shadow: 0 5px 10px  rgba(0, 0, 0, .08);
    display: flex;

    &:hover{
        box-shadow: 0 5px 20px  rgba(0, 0, 0, .25);

    }
    &__icon{
        color: #47D764;
        font-size: 25px;
        margin: auto;
        padding-left: 15px;
        &--close{
            color: rgba(0, 0, 0, .1);
            font-size: 25px;
            margin: auto;
            padding-right: 15px;
            cursor: pointer;
            &:hover{
                color: rgba(0, 0, 0, .3);

            }
        }
    }
   
    &__body{
        padding: 0px 20px;
        flex-grow: 1;
    }
    &__title {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 2px;
    }
    &__content{
        color: rgba(0, 0, 0, .5);
    }
    
}
.toast--info{
    @extend .toast-custom;
    border-color: #2F86EB;
    &__icon{
        @extend .toast-custom__icon;
        color: #2F86EB;
    }
}
.toast--success{
    @extend .toast-custom;
    border-color: #47D764;
    &__icon{
        @extend .toast-custom__icon;
        color: #47D764;
    }
}

.toast--warning{
    @extend .toast-custom;
    border-color: #ffc021;
    &__icon{
        @extend .toast-custom__icon;
        color: #ffc021;
    }
}

.toast--danger{
    @extend .toast-custom;
    border-color: red;
    &__icon{
        @extend .toast-custom__icon;
        color: red;
    }
}
